/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@
   @@                         @@
   @@        Oritorius        @@
   @@          Erboy          @@
   @@                         @@
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

body {
    font-family: "Montserrat" !important;
    background-color: #F2F2F2 !important;
}

/* Header */
.er-header {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
}

/* Top Navigation */
.er-topnav {
    background-color: rgba(8, 15, 19, 0.3);
    padding: 15px 0;
}

.er-topnav .left a{
	margin-right:10px;
}

.er-topnav .left a img{
	height:33px;
}

.er-topnav-dark {
    background-color: #080F13;
}

.er-topnav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.er-topnav .er-wp {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
	display:inline-block;
	margin-top:10px;
}

.er-topnav .er-wp img {
}

.er-topnav .er-flag {
    margin-left: 5px;
}

/* Navigation */
.er-nav {
    padding: 10px 0;
}

.er-nav-light {
    background-color: #fff;
}

.er-nav-light .nav-link {
    color: #262726 !important;
}

.er-nav-light .nav-link:hover {
    color: #009849 !important;
}

.er-nav .nav-link {
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    margin-left: 20px;
}

.er-nav .nav-link:hover {
    color: #009849;
}

.er-nav .navbar-toggler {
    color: #fff;
}

@media(max-width: 992px) {
    .er-nav .nav-link {
        margin-left: 0;
    }
    .er-banner {
        padding-top: 30px !important;
		
    }
	
    .er-banner-form button {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 10px;
    }
    .er-banner-form .input-group {
        margin-bottom: 20px;
    }
    .er-banner-form label {
        margin-bottom: 10px !important;
    }
    .er-banner-brands {
        display: none;
    }
    .er-app .img-phone {
        margin-bottom: 20px;
    }
    .er-app a.app {
        display: inline-block;
        width: 49%;
    }
    .er-app a.app img {
        width: 90%;
    }
    .er-home-blog .btn-outline-primary {
        width: 140px !important;
    }
    .er-blog-horizontal {
        display: block !important;
        height: auto !important;
    }
    .er-blog-horizontal .img-blog {
        max-width: 100% !important;
    }
    .dnm {
        display: none !important;
    }
}

/* Banner Form */
.er-banner {
    padding: 80px 0 30px 0;
}

.er-banner .title {
    font-weight: 900;
    font-size: 44px;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 0 13px 36px #080B13;
}

.er-banner-form {
    background-color:#fff;
    padding: 20px 40px 20px 30px;
    border-radius: 10px;
}

.er-banner-form input, .er-banner-form input::placeholder, .er-banner-form select{
	color:#17995a;
}

.er-banner-form .row .col-md-2, .er-banner-form .row .col-md-4 {
    padding: 0 8px !important;
}

.diff{
	cursor:pointer;
	color:#fff;
}

.er-banner-form .input-group, .er-banner-form .er-select{
	    border-bottom: 2px solid #bfbfbf !important;

}

.er-banner-form .form-control, .er-banner-form .custom-select{
	font-weight:500 !important;
	background:transparent !important;
	
}

.closeBtnExtra{
	    float: right;
    border: 0px;
    background: #fff;
    font-weight: bold;
}

.teslimyeri{
	margin-top:15px;
}

.er-banner-form .btn-primary {
    background-color: #17995a;

    border: 0 !important;
    border-radius: 2px !important;
    font-weight: 800 !important;
    height: 48px;
    width: 175px;
    margin-left: 10px;
    padding: 0 !important;
}

.t-checkbox{
	border:2px solid #ddd;
	padding:10px;
	background:#fff;
	width:35px;
	height:35px;
	display:inline-block;
}

.er-banner-form .input-group-prepend{
	margin-right:0px !important; 
}

.er-banner-form label {
    color: #231f20;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
	font-weight:bold;
}

.greencolor{
	color:#17995a;
	font-size:1.3em;
}

.calendar::-webkit-inner-spin-button,
.calendar::-webkit-calendar-picker-indicator {
    position: absolute;
    left: -38px;
    background-image: url("../img/calender.png");
    height: 24px;
    width: 24px;
    display: block;
}

.time::-webkit-inner-spin-button,
.time::-webkit-calendar-picker-indicator {
    position: absolute;
    left: -30px;
    background-image: url("../img/time.png");
    height: 24px;
    width: 24px;
    display: block;
}

.er-banner-form .special2 .input-group-text {
    width: 20px;
}

.er-banner-form .special .input-group-text {
    width: 30px;
}

.er-banner-form .special3 .input-group-text {
    width: 20px;
}

.er-banner-form .special4 .input-group-text {
    width: 30px;
}

/* Banner Slider */
.er-banner-slider {
    padding: 50px 0;
}

.er-banner-slider .item {
    text-align: center;
}

.er-banner-slider .item img {
    width: auto !important;
    max-width: 100% !important;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

.er-bs-box {
    background-color: #070E13;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    box-shadow: -20px 13px 16px rgba(7, 14, 19, 0.3);
}

.er-bs-box span {
    color: #fff;
}

.er-bs-box span {
    display: block;
}

.er-bs-box .quantity {
    font-size: 20px;
    font-weight: 700;
}

.er-bs-box .name {
    font-size: 20px;
    font-weight: 600;
}

.er-bs-box .price {
    font-size: 20px;
    font-weight: 700;
    color: #3FDB48;
}

.er-bs-content {
    padding-top: 150px;
}

/* Banner Brands */
.er-banner-brands {
    padding: 40px 0;
}

.er-banner-brands ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.er-banner-brands ul li {
    display: inline-block;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    text-align: center;
    border: 1px solid #D6D6D6;
}

.er-banner-brands ul li img {
    max-width: 90%;
}

.er-banner-brands ul li .img {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

/* Home Car */
.er-home-cars {
    background-color: #080F13;
    padding: 30px 0 100px 0;
}

.er-home-cars h4 {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.hc-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.hc-box img {
    width: auto !important;
    max-width: 100% !important;
    margin-bottom: 30px;
    display: block;
    margin: auto;
}

.hc-box .name {
    font-weight: 700;
    color: #262726;
}

.hc-box table {
    margin: 20px 0;
    width: 100%;
}

.hc-box table tr td:first-child {
    text-align: left;
}

.hc-box table tr td:last-child {
    text-align: right;
    color: #009849;
    font-size: 22px;
    font-weight: 700;
}

.hc-box .btn-success {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
}

/* Home App */
.er-app {
    background-color: #fff;
    padding: 60px 0;
}

.er-app .img-phone {
    width: 100%;
}

.er-app .content {
    padding: 0 20px;
}

.er-app .content h3 {
    font-weight: 800;
    font-size: 22px;
}

.er-app .content p {
    font-size: 17px;
    color: #777777;
    font-weight: 600;
    margin: 30px 0;
    line-height: 22px;
}

/* Home Phone */
.er-phone {
    background-image: url("../img/back-tel.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.er-phone .content {
    color: #fff;
}

.er-phone .content h3 {
    font-weight: bold;
    font-size: 23px;
    text-transform: uppercase;
}

.er-phone .content .btn {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-weight: 700 !important;
}

/* Home Blog */
.er-home-blog {
    padding: 60px 0;
}

.er-home-blog .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.er-home-blog .head h2 {
    font-size: 22px;
    font-weight: 800;
}

.er-home-blog .head p {
    color: #777777;
    font-weight: 600;
}

.er-home-blog .head .btn-outline-primary {
    border-color: #C3C3C3 !important;
    color: #777777 !important;
    font-weight: 800 !important;
    border-radius: 4px !important;
}

.er-home-blog .head .btn-outline-primary:hover {
    background-color: #c3c3c3;
    color: #fff !important;
}

/* Blog Page */
.er-blog-area {
    background-color: #fff;
    padding: 60px 0;
}

.er-post {
    margin-bottom: 50px;
}

.er-post .img-post {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.er-post .top {
    position: relative;
    margin-bottom: 30px;
}

.er-post .author {
    position: absolute;
    bottom: 20px;
    left: 25px;
    display: flex;
    color: #fff;
}

.er-post .author img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    margin-right: 10px;
}

.er-post .author h6 {
    font-weight: 700;
    margin-bottom: 3px;
    font-size: 14px;
}

.er-post .author span {
    font-size: 14px;
}

.er-post .content h2 {
    font-size: 19px;
    font-weight: 800 !important;
}

.er-post .content p {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 20px;
}

.er-post .content .more {
    color: #009849;
    font-weight: 800;
    text-transform: uppercase;
}

.er-post .content .more i {
    margin-left: 15px;
}

.er-post.mini p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.er-post.mini h2 {
    font-size: 17px;
}

.er-post.mini .top {
    margin-bottom: 20px;
}

/* Blog Video */
.er-blog-video {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 370px;
    border-radius: 5px;
    margin: 20px 0;
}

.er-blog-video:hover .alt {
    background-color: rgba(70, 70, 70, 0.7);
}

.er-blog-video .alt {
    background-color: rgba(70, 70, 70, 0.5);
    transition: 0.3s;
    border-radius: 5px;
    padding: 30px;
    height: 100%;
}

.er-blog-video .content {
    color: #fff;
    position: absolute;
    bottom: 20px;
}

.er-blog-video h3 {
    font-weight: 800;
    font-size: 19px;
}

.er-blog-video .play {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.er-blog-video p {
    font-weight: 600;
    font-size: 15px;
}

/* Blog Vertical */
.er-blog-vertical {
    height: 370px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s;
    margin: 20px 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
}

.er-blog-vertical:hover {
    transform: scale(1.05);
}

.er-blog-vertical .img-blog {
    height: 184px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.er-blog-vertical .body {
    background-color: #fff;
    padding: 20px;
}

.er-blog-vertical .content {
    margin-bottom: 30px;
}

.er-blog-vertical .content h3 {
    font-size: 17px;
    font-weight: 700;
    color: #262726;
}

.er-blog-vertical .content p {
    font-size: 15px;
    font-weight: 600;
    color: #777777;
}

.er-blog-vertical .author {
    display: flex;
    align-items: center;
}

.er-blog-vertical .author img {
    margin-right: 10px;
    height: 42px;
    width: 42px;
    border-radius: 100%;
}

.er-blog-vertical .author h5 {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 15px;
    color: #777777;
}

.er-blog-vertical .author span {
    color: #777777;
    font-size: 15px;
}

a.unstyled {
    text-decoration: none !important;
}

/* Blog Horizontal */
.er-blog-horizontal {
    margin: 20px 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 176px;
    transition: 0.3s;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
}

.er-blog-horizontal:hover {
    transform: scale(1.05);
}

.er-blog-horizontal:hover .button {
    visibility: visible;
}

.er-blog-horizontal:hover h3 {
    color: #009849 !important;
}

.er-blog-horizontal .img-blog {
    width: 100%;
    max-width: 265px;
    height: 176px;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.er-blog-horizontal .body {
    padding: 20px;
}

.er-blog-horizontal .content {
    margin-bottom: 50px;
}

.er-blog-horizontal .content h3 {
    color: #262726;
    font-size: 17px;
    font-weight: 700;
}

.er-blog-horizontal .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.er-blog-horizontal .author {
    display: flex;
    align-items: center;
}

.er-blog-horizontal .author img {
    margin-right: 10px;
    height: 42px;
    width: 42px;
    border-radius: 100%;
}

.er-blog-horizontal .author h5 {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 15px;
    color: #777777;
}

.er-blog-horizontal .author span {
    color: #777777;
    font-size: 15px;
}

.er-blog-horizontal .button {
    visibility: hidden;
}

.er-blog-horizontal .button button {
    display: block;
    font-size: 20px;
    height: 42px;
    width: 42px;
    border: 1px solid #009849;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    color: #009849;
    background-color: transparent;
}

/* Brand List */
.page {
    padding: 40px 0;
}

.er-brand-list .nav-link {
    display: block;
    width: 82px;
    height: 82px;
    text-align: center;
    padding: 0;
    line-height: 82px;
    border-radius: 100% !important;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    margin: 0 5px;
}

.er-brand-list .nav-link.active {
    background-color: #fff !important;
    border-color: #22B42A;
}

.er-brand-list .nav-link img {
    width: auto;
}

.er-brand-list ul {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.er-brand-list ul::-webkit-scrollbar {
    height: 6px;
}
  
.er-brand-list ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.er-brand-list ul::-webkit-scrollbar-thumb {
    background: #888;
}

.er-brand-list ul::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Car Box */
.er-car {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
}

.er-car .body {
    display: flex;
    align-items: center;
}

.er-car .img-car {
    max-width: 320px;
    width: 100%;
    margin-right: 30px;
}

.er-car .body ul {
    margin: 20px 0;
}

.er-car .body ul li {
    width: 32.6%;
    display: inline-block;
    color: #262726;
    font-weight: 600;
    margin: 8px 0;
}

.er-car .body ul li img {
    margin-right: 10px;
}

.er-car .content h2 {
    font-weight: 800;
    font-size: 20px;
}

.er-car .content span {
    text-transform: uppercase;
}

.er-car .button a strong {
    font-weight: 700 !important;
}

.er-car .button a span {
    text-transform: uppercase;
}

.er-car .button .btn-success {
    background-image: linear-gradient(40.82deg, #0a7b65 0%, #009849 100%);
}

@media(max-width: 1200px) {
    .er-car .body {
        display: block;
    }
    .er-car .button a {
        margin-top: 10px;
    }
}

@media(max-width: 450px) {
    .er-car ul li {
        width: 49% !important;
    }
}

.container {
    max-width: 1300px !important;
}

/* Brand Filter */
.er-brand-filter {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.er-brand-filter label {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.er-brand-filter .special3 .input-group-text {
    padding: .375rem 0.8rem !important;
}

.er-brand-filter .special4 .input-group-text {
    padding: .375rem 1rem !important;
}

.er-bf-box {
    border-top: 1px solid #D9D9D9;
    padding: 20px 0;
    margin-top: 20px;
}

.er-bf-box h5 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 15px;
}

.er-bf-box h5 img {
    margin-right: 10px;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #009849 !important;
    border-color: #009849 !important;
}

.custom-checkbox:focus {
    box-shadow: 0 !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0 !important;
}

.custom-checkbox .custom-control-label {
    text-transform: capitalize;
}

/* Step 2 */
.er-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 13px 36px rgba(0, 0, 0, 0.07);
}

.er-step {
    background-color: #262726;
    color: #fff;
    padding: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.er-step .col {
    padding: 0;
}

.er-step .content .number {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    height: 42px;
    width: 42px;
    border: 2px solid #777777;
    border-radius: 100%;
    line-height: 42px;
    text-align: center;
    margin-right: 5px;
}

.er-step .content .number.active {
    background-color: #22B42A;
    border-color: #22B42A;
}

.er-step .content .number.on {
    border-color: #22B42A;
}

.er-step .content .step {
    font-size: 15px;
    font-weight: 600;
}

.er-card .body {
    padding: 30px;
}

.er-back {
    font-weight: 600;
    color: #777777;
    display: inline-block;
}

.er-back:hover {
    text-decoration: none;
}

.er-setting-box {
    padding: 20px 0 0 0;
    border-bottom: 1px solid #D9D9D9;
}

.er-setting-box:last-child {
    border-bottom: 0 !important;
}

.er-setting-label {
    color: #009849;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 700;
}

.mini.er-setting {
    margin: 15px 0 !important;
}

.er-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.er-setting .name {
    margin-bottom: 5px;
}

.er-setting p {
    font-size: 13px;
    margin-bottom: 0;
}

.er-setting .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.er-setting .right .price {
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
}

.er-setting .right .btn {
    font-weight: 800 !important;
    border-radius: 4px !important;
    margin-left: 30px;
    width: 132px;
}

.er-setting .btn-success, .er-setting .btn-secondary {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
}

.er-step-invoice {
    padding: 30px;
}

.er-step-invoice h2 {
    font-size: 18px;
    font-weight: 800;
}

.er-step-invoice .img-car {
    max-width: 300px;
    width: auto;
    display: block;
    margin: 20px auto;
}

.er-step-info {
    margin: 10px 0;
}

.er-step-info .text {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    font-size: 15px;
}

.er-step-info .text strong {
    font-weight: 700;
}

.er-step-info .info {
    font-size: 15px;
    font-weight: 600;
}

.er-step-info .divider {
    color: #C3C3C3;
    display: inline;
}

.er-step-invoice ul {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    margin: 20px 0;
    padding: 10px 0;
}

.er-step-invoice ul li {
    width: 32.5%;
    margin: 10px 0;
    font-weight: 600;
    display: inline-block;
    font-size: 15px;
}

@media (max-width: 768px) {
    .er-step-invoice ul li {
        width: 49%;
    }
    .er-setting {
        display: block;
    }
    .er-setting .right {
        margin-top: 20px;
        justify-content: flex-end;
    }
    .mini.er-setting {
        margin: 30px 0 !important;
    }
    .mini.er-setting .right {
        margin-top: 10px !important;
    }
}

.er-step-invoice table {
    width: 100%;
}

.er-step-invoice table td:last-child {
    text-align: right;
}

.er-step-invoice table td {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
}

.er-step-invoice table .total td {
    padding-bottom: 0 !important;
    font-size: 18px;
    font-weight: 700;
}

.er-step-invoice table .total td:last-child {
    color: #009849;
}

.er-btn-success.btn-success {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800 !important;
    margin-top: 20px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
}

@media (max-width: 992px) {
    .er-card {
        margin-bottom: 20px;
    }
}

/* Step 3 */
.er-step-form label {
    font-size: 14px;
    font-weight: 600;
    color: #777777;
}

.er-sf-box {
    padding: 30px 0;
    border-bottom: 1px solid #D9D9D9;
}

.er-sf-text {
    font-size: 12px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.er-sf-important {
    font-size: 14px;
    text-decoration: underline;
    font-weight: 700;
}

.er-step-form .custom-checkbox {
    margin-top: 30px;
}

.er-step-form .custom-checkbox .custom-control-label {
    font-weight: 700 !important;
    color: #262726;
}

/* Blog Page */
.er-blog-page {
    background-color: #fff;
}

.er-blog-page .er-bp-img {
    width: 100%;
    max-height: 570px;
    object-fit: cover;
}

@media (min-width: 992px) {
    .er-blog-page .container {
        max-width: 980px !important;
    }
}

@media (max-width: 992px) {
    .er-blog-page .container {
        padding: 50px 20px !important;
    }
}

.er-blog-page .container {
    padding: 50px 0;
}

.er-blog-page .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.er-blog-page .top .icon {
    font-size: 26px;
    color: #999999;
    margin-left: 20px;
}

.er-blog-page .top .icon .fa-heart {
    color: #FC5656;
}

.er-blog-page .author {
    display: flex;
    align-items: center;
}

.er-blog-page .author img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    margin-right: 10px;
}

.er-blog-page .author h6 {
    font-weight: 700;
    margin-bottom: 3px;
    font-size: 16px;
}

.er-blog-page .author span {
    font-size: 14px;
}

.er-blog-page .content h1 {
    font-weight: 800;
    font-size: 36px;
}

.er-blog-page .content p {
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: #333333;
    margin: 30px 0;
}

.er-blog-page .content img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    margin-bottom: 26px;
}

.er-blog-page .share {
    font-size: 17px;
    margin: 40px 0 0 0;
}

.er-blog-page .share span {
    font-weight: 800;
}

.er-blog-page .share a {
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    color: #999999;
}

.er-blog-page .share .facebook:hover {color: #3b5998}
.er-blog-page .share .linkedin:hover {color: #0e76a8}
.er-blog-page .share .twitter:hover {color: #1DA1F2}
.er-blog-page .share .link:hover {color: #000}

.er-blog-posts {
    background-color: #fff;
    padding: 40px 0;
}

.er-blog-posts .container {
    border-top: 1px solid #E0E0E0;
    padding-top: 50px;
}

.er-blog-posts .title {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* Footer */
.er-footer {
    background-color: #fff;
    padding: 50px 0;
}

.er-footer ul li {
    margin-bottom: 14px;
}

.er-footer ul {
    margin-bottom: 50px;
}

.er-footer ul li a {
    color: #262726;
    font-weight: 600;
}

.er-footer-logo {
    margin-bottom: 20px;
}

.er-footer-text {
    color: #777777;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 30px;
}

.er-footer-mail p {
    font-size: 14px;
    line-height: 25px;
}

.er-footer-mail .form-control {
    border: 1px solid #D8E3EF !important;
    background-color: transparent !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
}

.er-footer-mail button {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
}

.er-footer .social {
    margin-bottom: 0 !important;
}

.er-footer .social li {
    display: inline-block;
}

.er-footer .social li a {
    color: #858585;
    font-size: 20px;
    margin-right: 10px;
}

.er-footer-copyright {
    font-weight: 600;
    font-size: 12px;
    color: #777777;
    text-align: center;
    margin-top: 50px;
}

/* Section */
.bc-section {
    padding: 30px 0;
}

.bc-section-header {
    text-align: center;
    margin-bottom: 20px;
}

.bc-section-header h2 {
    text-transform: uppercase;
    color: #862328;
}

.bc-section-header h2 img {
    height: 80px;
    width: 80px;
}

/* Owl Carousel */
.owl-carousel .owl-nav button i {
    font-size: 30px;
}

.owl-carousel .owl-nav button:hover {
    background-color: transparent !important;
}

.owl-carousel .owl-prev {
    position: absolute;
    top: 45%;
    left: -70px;
}

.owl-carousel .owl-next {
    position: absolute;
    top: 45%;
    right: -70px;
}

@media (max-width: 768px) {
    .owl-carousel .owl-prev, .owl-carousel .owl-next {
        display: none !important;
    }
}

.btn {
    font-weight: 600 !important;
    padding: 10px 26px !important;
    border-radius: 6px !important;
}

.list-unstyled {
    margin-bottom: 0;
}

.form-control {
    border: 0 !important;
    border-radius: 2px !important;
    background-color: #EEEEEE !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    padding: 24px 18px !important;
}

.form-control:focus, .custom-select:focus {
    box-shadow: none !important;
}

.er-select .icon {
    position: absolute;
    left: 20px;
    pointer-events: none;
    line-height: 48px;
}

.er-select .custom-select {
    padding-left: 50px !important;
}

.er-select .custom-select option {
    font-size: 18px;
}

.custom-select {
    border: 0 !important;
    border-radius: 2px !important;
    background-color: #EEEEEE !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    height: 48px !important;
    cursor: pointer;
}

.input-group-text {
    border: 0 !important;
    border-radius: 2px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-right: 0 !important;
	background:transparent !important;
}

img {
    user-select: none !important;
}

ul.liveresult, ul.liveresult2, ul.liveresult3 {
    max-height: 180px;
    overflow-y: auto;
    width: 97%;
    left: 1%;
    display: none;
    border-radius: 5px;
    position: absolute;
    top: 52px;
    z-index: 99;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: -1px 6px 13px -2px rgb(0 0 0 / 25%);
    -moz-box-shadow: -1px 6px 13px -2px rgba(0,0,0,0.25);
    box-shadow: -1px 6px 13px -2px rgb(0 0 0 / 25%);
}
ul.liveresult li, ul.liveresult2 li, ul.liveresult3 li {
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 27px;
    font-size: 13px;
}

.closeBtnList{
position: absolute;
    right: 10px;
    font-size: 13px;
    top: 16px;
    font-weight: bold;
    color: #232323;
    z-index: 9999;
	cursor:pointer;
}

.navbar-brand img{
	height:120px;
}