@font-face {
  font-family: FF;
  src: url(../fonts/HurmeGeometricSans1.otf);
}

@font-face {
  font-family: FF Bold;
  src: url(../fonts/HurmeGeometricSans1Bold.otf);
}

@font-face {
  font-family: FF Black;
  src: url(../fonts/HurmeGeometricSans1Black.otf);
}

@font-face{
	font-family: FF Light;
	src:url(../fonts/HurmeGeometricSans1Light.otf);
}

@font-face {
  font-family: FF SB;
  src: url(../fonts/HurmeGeometricSans1SemiBold.otf);
}

*{
	font-family:FF;
}

#nav {
	background:transparent;
	z-index:11000;
	
}

header{position:relative; top:-100px;}

.imp{

	background:#333 !important;
}

.carousel-caption{
	background: #fff;
    position: absolute;
    right: 0px;
    left: auto;
    width: 60%;
	top:30%;
	bottom:auto;
	box-shadow:18px 0px 40px rgba(0,0,0,0.22);
}

.carousel-caption h2{
	color:#24282a;
	font-family:'FF Bold';
	text-align:left;
	font-size:4em;
}

.carousel-caption .lead{
	color:#666;
	text-align:left;
	font-size:1em;
}

.kesfet{
	border:0px;
	background:transparent;
	color:rgba(237,28,36);
	text-transform:uppercase;
	font-family: FF SB;
}

.kesfet:hover{
	color:rgba(237,28,36);
	background:transparent;
}

.kesfet2{
	border:0px;
	background:transparent;
	color:#fff;
	text-transform:uppercase;
	font-size:1em;
	font-weight:bold;
}

.kesfet2:hover{
	color:rgba(237,28,36);
	background:transparent;
}

.carousel-indicators li{
		width:10px;
	height:10px;
	border-radius:50%;
	background:rgba(237,28,36);
	box-sizing:border-box;
	border:0px;
	background:#333;
	margin-right:10px;
}
.carousel-indicators li.active{
	width:17px;
	height:17px;
	border:2px solid rgba(237,28,36);
	background:#fff;
	margin-top:-3px;
}

.pt-title h2{
	font-size:2.5em;
	font-family:FF Bold;
}

.pt-title .swiper-button-next{
	position:static;
	display:inline-block;
	font-size:30px;
	color:rgba(237,28,36);
}

.pt-title .swiper-button-prev{
	position:static;
	display:inline-block;
	font-size:30px;
	padding-right:60px;
	color:rgba(237,28,36);
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
	content:'' !important;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
	content:'' !important;
	
}

.ic-img{
	position:relative;
	left:-40px;
}

.btnleft{
	background:#ececec;
}

.btnright{
	background:#ff212a;
}

.fts{
	position:relative;
}

.fts .col-md-6{
	position:relative;
}

.fts .solkisim{
		background: #fff;
		position:relative;
		right:-120px;
		z-index:3;
		height:400px;
		
	box-shadow:18px 0px 40px rgba(0,0,0,0.22);
}

.fts .sagkisim{
		background: #fff;
		position:relative;
		left:-120px;
		z-index:3;
		height:400px;
		
	box-shadow:18px 0px 40px rgba(0,0,0,0.22);
}

.fts h3{
	font-size:3em;
	font-family: FF;
}

.fts h3 .sb{
	font-family: FF SB;
}

.kesfet3{
	background:#e02020;
	border:0;
	font-family: FF ;
	font-weight:600;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:10px;
	
}

.fts p{
	color:#24282a;
}

.ics{
	color:#fff;
}

.pv0{
	background-image:url("../images/slider-photo.jpg");
}

footer h5{
	font-family:FF ;
	font-size:1.4em;
}

#acilirMenu{
	height:300px;
	background:#333;
	position:absolute;
	width:100%;
	left:0px;
	z-index:10000;
	display:none;
}

#acilirMenu .container{
	border-top:1px solid red;
	padding-top:25px;
}


#acilirMenu .container h5{
	color:#fff;
	font-family: FF Bold;
}

#acilirMenu li a{
	color:#929292;
}

.black{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
		z-index:9999;
		display:none;
}

.altkesfet{
	background:#333;
	border:0px;
}

.ht{
	height:750px;
}

.ics h3{
	font-size:3em;
	font-family:FF Black;
}

.ics p{
	font-size:1.4em;
}

.rclib h4{
	font-family:FF SB;
}

.btnaltform{
	background:#e02020;
	color:#fff;
	border:0px;
	padding-left:33px;
	padding-right:33px;
	font-weight:bold;
}

#communicationForm input[type=text], #communicationForm textarea{
	background:rgba(0,0,0,0.08);
	border:0px;
	border-radius:0px;
	padding-top:30px;
	padding-left:20px;
	padding-bottom:30px;
	outline:none;
	margin-bottom:25px;
}

#carouselExampleIndicators .carousel-item{
	 background-size:50% 100%; background-position:0px 0px;
}

.communication h2{
	font-size:3em;
}

.smicons a{
	border-radius:50%;
	height:30px;
	    height: 40px;
    padding-top: 10px;
	width:40px;
}

.smicons a:hover{
	background:#ed1c24;
	color:#fff;
}

/* mobile */

@media screen and (max-width: 600px) {
  #carouselExampleIndicators .carousel-item{
	 background-size:100% 100%; background-position:0px 0px;
}

#navbarSupportedContent{
	display:block;
	position:absolute;
	right:10px;
	top:30px;
}

#acilirMenu{
	height:auto;
	padding-top:20px;
}

.navbar-toggler{
	display:none;
}

.s3 .swiper-slide img{
	width:100%;
}

.fts .solkisim{
	height:auto;
	right:0px;
}

.ht{
	height:300px;
	background-size:100%;
}

.fts .sagkisim{
	height:auto;
	left:0px;
}

.fts h3{
	font-size:2em !important;
}

.carousel-item {
	height:auto !important;
}
}
