@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin-ext');
* { 
	margin:0px;
	padding:0px;
	text-decoration: none;
	list-style-type: none; 
}

a, a:hover, a:focus { 
	cursor:pointer;
	text-decoration: none; 
}

body { 
	font-family: 'Ubuntu', sans-serif;
	font-size:13px; 
}

.login { 
	padding:20px 0px; 
	padding-top:150px; 
}

.login img { max-height: 50px; }
.header { 
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	width:100%; 
	z-index: 9999;

	height:50px;
	min-height:50px;
	border-radius:0px;
	border:none;
	margin:0px;    
	background: #ffffff;    
	border-color: transparent;
    -webkit-box-shadow: 0 5px 20px 0 rgba(103, 103, 103, 0.38);
    box-shadow: 0 5px 20px 0 rgba(103, 103, 103, 0.38);

}
.header ul > li > a {
    color: #777777;
    padding:0px 30px;
    height: 50px;
    line-height:50px;
}

.header ul > li > a:hover {
	background:#F1F1F1;
}

.header .logo { float:left; }

.header .logo a{ 
	display: block;
	color:#FFF;
	background:#2c3e50;
	height:50px;
	min-height:50px;
	line-height:50px;
	padding:0px 10px;
	width:250px;
	font-size:23px; 
	font-weight: bold;
}

.header .nav { float:right;margin:0px; }
.header .nav li { float:left; }
.header .nav li.toggle { display: none; }



.sidebar { 
	background:#34495e;
	position:fixed;
	width:250px;
	top:50px;
	bottom:0px; 
	z-index: 9999;
	

}
.sidebar ul { 
	margin:0px;
	padding:0px;
	list-style-type: none; 
}
.sidebar ul ul { display: none; }
.sidebar ul li a { 
	padding:  10px;
	display: block; 
	color:rgba(255,255,255,.75);
	text-decoration: none;
}

.sidebar ul li a:hover { 
	background:#2c3e50;
}

.sidebar ul li a:hover i:first-child{
	color:#FFF;
}





.sidebar ul li a i:first-child { margin-right:10px; }


.sidebar ul ul li a {
	background:#2c3e50; 
	padding: 10px 40px;
	display: block; 	
	color:rgba(255,255,255,.75);
	text-decoration: none;
}


.content { 
	position: absolute;
	width:1025px;
	margin-left:270px;
	margin-top:70px; 
}


.breadcrumb { 
	background:#FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.breadcrumb li a { color:#666; }
.breadcrumb li.last { float:right;  }
.breadcrumb li.last a { 
	display:block;
	margin:-9px -16px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding:9px 14px !important;
	font-size:13px;
	border:none; 
	color:#222;
}
.breadcrumb li.last:before { content: none; }

@media screen and (max-width: 768px) {
	body { overflow-x: hidden; }
	.header { 
		left:0px;right:0px;
	}
	.header  .logo a{ 
		background:none;
		color:#2c3e50;
		width: auto;
		font-size:16px;
	}
	
	.header .nav li.toggle { display: block; color:#888;font-weight: bold; }
	.header .nav li.toggle a { padding:0px 20px; font-size:20px;}
	.sidebar {  display:none;}

	
	

	.content { padding:10px;margin-left:0px;width:100%;margin-top:60px; }

}

@media (min-width: 768px){
	.navbar-right {
	    margin-right: 0px;
	}
}

.panel-title { font-weight: bold;font-size:13px; }


table.dataTable thead > tr > th {
    padding-right: 10px !important;
} 
table thead tr th:last-child, table tbody tr td:last-child { text-align: right; }

.alert { text-align: center; }

.photo img { cursor: pointer;margin-bottom:10px; }

label.form-control { font-weight: normal;height: auto; }
.photo img { max-width: 100%; }