/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@
   @@                         @@
   @@        Oritorius        @@
   @@          Erboy          @@
   @@                         @@
   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

body {
    font-family: "Montserrat" !important;
    background-color: #F0F0F0 !important;
    position: relative;
    height: 100%;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

.container-fluid {padding: 0 !important}

.em-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Nav */
.em-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 20px;
    box-shadow: 0 -7px 7px rgba(0, 0, 0, 0.07);
	z-index:9999;
}

.em-nav-link.active .icon-nav-search {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.382 19.811'%3E%3Cg transform='translate(-281.806 -1001.379)'%3E%3Cg transform='translate(282.556 1002.129)'%3E%3Cellipse cx='8.393' cy='8.378' rx='8.393' ry='8.378' fill='none' stroke='%2301943f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath d='M297.8,1017.836l3.524,3.515' transform='translate(-283.749 -1003.351)' fill='none' stroke='%2301943f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

.em-nav-link.active .icon-nav-home {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.758 19.5'%3E%3Cg transform='translate(-569.428 -2182.601)'%3E%3Cg transform='translate(570.178 2183.351)'%3E%3Cpath d='M576.857,2197.486h5.233' transform='translate(-570.846 -2184.765)' fill='none' stroke='%2301943f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath d='M570.178,2193.893c0-5.068.553-4.714,3.527-7.47,1.3-1.05,3.326-3.072,5.075-3.072s3.813,2.011,5.13,3.069c2.975,2.759,3.526,2.4,3.526,7.47,0,7.461-1.767,7.461-8.631,7.461S570.178,2201.352,570.178,2193.893Z' transform='translate(-570.178 -2183.352)' fill='none' stroke='%2301943f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.em-nav-link.active .icon-nav-notification {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.325 19.72'%3E%3Cg transform='translate(-619.613 -2183.115)'%3E%3Cg transform='translate(620.394 2183.865)'%3E%3Cpath d='M627.775,2183.865a6.261,6.261,0,0,0-6.361,6.2c0,1.843.288,1.3-.81,3.549-1.341,3.2,4.051,4.513,7.171,4.513s8.511-1.31,7.171-4.513c-1.1-2.248-.81-1.706-.81-3.549A6.262,6.262,0,0,0,627.775,2183.865Z' transform='translate(-620.394 -2183.865)' fill='none' stroke='%2301943f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath id='Stroke_3-165' data-name='Stroke 3-165' d='M630.084,2201.863a2.991,2.991,0,0,1-4.211.409,3.046,3.046,0,0,1-.409-.409' transform='translate(-620.394 -2184.954)' fill='none' stroke='%2301943f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.em-nav-link.active .icon-nav-user {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.19 19.5'%3E%3Cg transform='translate(-860.028 -2279.031)'%3E%3Cg transform='translate(860.778 2279.781)'%3E%3Cpath d='M867.623,2299.013c-3.692,0-6.845-.574-6.845-2.875s3.133-4.425,6.845-4.425c3.692,0,6.845,2.1,6.845,4.4S871.334,2299.013,867.623,2299.013Z' transform='translate(-860.778 -2281.013)' fill='none' stroke='%2301943f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath d='M867.615,2288.525a4.371,4.371,0,1,0-.031,0Z' transform='translate(-860.778 -2279.781)' fill='none' stroke='%2301943f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.em-nav-link {
    text-align: center;
    padding: 10px 2px;
}

.liveresult-from, .liveresult-to{
	padding-left: 10px;
}

ul.liveresult-from li , ul.liveresult-to li {
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 27px;
    font-size: 13px;
}

.em-nav-link span.d-block{
	color:#000;
}

.em-nav-link.active span.d-block{
	color:#01943F;
}

.em-nav-link.active .name {
    color: #01943F;
}

.em-nav-link .name {
    font-size: 10px;
    font-weight: 700;
    color: #999999;
}

.em-nav-link .icon {
    margin: auto;
}

/* Header */
.em-header {
    background-image: linear-gradient(-1.42deg, #26a775 0%, #01943f 100%);
    padding: 30px 20px 40px 20px;
    text-align: center;
}

.em-header-img {
    background-image: url("../img/header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.em-header .back {
    position: absolute;
    left: 20px;
}

.em-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: relative;
    top: 20px;
}

/* Rent */
.em-link, .em-link:hover, .em-link:focus {
    text-decoration: none !important;
}

.em-page-content {
    position: relative;
    top: -40px;
}

.em-rent {
    padding: 16px;
}

.em-rent-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.07);
    padding: 16px;
    margin-bottom: 20px;
}

.em-rent-card .nav-pills .nav-item:first-child {
    border-right: 1px solid #ccc;
}

.em-rent-card .nav-pills .nav-link {
    font-size: 14px;
    color: #999999;
    background-color: transparent !important;
    padding: 8px !important;
}

.em-rent-card .nav-pills .nav-link.active {
    color: #01943F;
    font-weight: 800 !important;
}

.em-rent-card .form-control {
    border-bottom: 1px solid #EFEFEF !important;
}

.em-rent-card label {
    font-size: 13px;
    font-weight: 700;
    color: #999999;
}

.em-rent-card label img {
    margin-right: 5px;
}

.em-rent-card.active label {
    color: #01943F;
}

.em-rent-divider {
    margin-bottom: 20px;
    text-align: center;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #01943F !important;
}

.custom-switch .custom-control-input:checked~.custom-control-label::before {
    border-color: #01943F !important;
    background-color: #fff !important;
}

.custom-switch .custom-control-label {
    font-size: 13px;
    font-weight: 600;
}

.custom-switch .custom-control-label span {
    position: relative;
    top: 2px;
}

.em-rent-result {
    border: 2px solid #26A775;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.em-rent-result .content {
    padding: 20px 12px;
    text-align: center;
}

.em-rent-result .content span {
    display: block;
}

.em-rent-result .content .title {
    font-size: 14px;
    color: #01943F;
    font-weight: 600;
    margin-bottom: 6px;
}

.em-rent-result .content .title img {
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.em-rent-result .content .text {
    font-size: 14px;
    font-weight: 600;
}

.em-rent-result .right {
    position: absolute;
    right: 46%;
    z-index: 3;
    background-color: #01943F;
    color: #fff;
    display: inline-block;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 100%;
    margin-top: 36px;
}

.em-rent .custom-switch {
    margin-bottom: 20px;
}

.em-rent-btn {
    background-color: #FCB400 !important;
    border-color: #FCB400 !important;
}

/* Date */
.em-date {
    background-color: #fff;
    padding: 32px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.em-date .title {
    font-size: 14px;
    font-weight: 600 !important;
    color: #01943F;
    margin-bottom: 20px;
}

.em-date .title img {
    margin-right: 4px;
}

.em-date .datepicker, .datepicker .table-condensed {
    width: 100% !important;
}

.em-date .datepicker th.datepicker-switch {
    font-size: 23px !important;
    padding-bottom: 20px;
}

.em-date .datepicker .dow {
    font-size: 12px;
    font-weight: 600;
    color: #999;
    padding-bottom: 20px;
}

.em-date .datepicker .next, .datepicker .prev {
    padding-bottom: 20px;
}

.em-date .datepicker .next:focus, .datepicker .prev:focus {
    background-color: #fff !important;
}

.em-date .datepicker .day {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}

.em-date .datepicker .active.day {
    background: #26A775 !important;
    border-radius: 100%;
}

.em-date-time {
    padding: 16px;
    position: relative;
    top: -39px;
    background-color: #fff;
}

.em-date-time .col-6:first-child .form-control {
    text-align: right;
}

.em-date-time .form-control {
    font-size: 24px !important;
    color: #363636;
}

.em-date-time .btn-primary {
    background-color: #FCB400;
    border: 1px solid #FCB400;
    margin-top: 20px;
}

/* Step 1 */
.er-setting-box {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 20px;
}

.er-setting-box:last-child {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.er-setting-label {
    font-size: 16px;
    color: #009849;
}

.er-setting {
    margin: 30px 0;
}

.er-setting .name {
    margin-bottom: 5px;
    font-size: 14px;
}

.er-setting p {
    font-size: 12px;
    margin-bottom: 0;
}

.er-setting .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.er-setting .price {
    font-size: 17px;
    font-weight: 600;
}

.er-setting .right .btn {
    font-weight: 800 !important;
    border-radius: 4px !important;
    margin-left: 30px;
    font-size: 13px !important;
    padding: 7px 16px !important;
}

.er-setting .btn-success, .er-setting .btn-secondary {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
}

.er-setting.mini {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.er-setting.mini .right {
    margin-top: 0 !important;
}

.em-steps {
    background-color: #262726 !important;
}

.em-steps .content {
    font-size: 13px;
    color: #fff;
}

.em-steps .content .number {
    display: block;
    height: 35px;
    width: 35px;
    background-color: #3c3c3c;
    text-align: center;
    line-height: 33px;
    border-radius: 100%;
    font-weight: 600;
    font-size: 16px;
    margin: auto;
    border: 2px solid #3c3c3c;
}

.em-steps .content .number.active {
    border: 2px solid #22B42A;
    background-color: #22B42A;
}

.em-steps .content .number.on {
    border: 2px solid #22B42A;
}

.em-steps .content .step {
    text-align: center;
    display: block;
    margin-top: 6px;
    font-size: 12px;
}

.btn-devam.btn {
    font-weight: 700 !important;
    margin-bottom: 30px;
}

/* Step 2 */
.er-sf-box {
    margin-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.er-sf-box .er-setting-label {
    margin-bottom: 20px;
}

.er-sf-box .form-control {
    border: 0 !important;
    border-radius: 2px !important;
    background-color: #EEEEEE !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    padding: 22px 15px !important;
}

.er-sf-box  .form-control:focus, .custom-select:focus {
    box-shadow: none !important;
}

.er-sf-box .custom-select {
    border: 0 !important;
    border-radius: 2px !important;
    background-color: #EEEEEE !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    height: 44px !important;
    cursor: pointer;
}

.er-step-form .custom-control {
    z-index: 0 !important;
}

.er-sf-text {
    display: block;
    font-size: 13px;
    margin-bottom: 15px;
}

.er-sf-important {
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 10px;
}

/* Step 3 */
.er-step-invoice {
    padding: 30px;
}

.er-step-invoice h2 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 2px;
}

.er-step-invoice .cdmr {
    font-size: 13px;
    color: #6c757d;
}

.er-step-invoice .img-car {
    max-width: 100%;
    width: auto;
    display: block;
    margin: 20px auto;
}

.er-step-info {
    margin: 10px 0;
}

.er-step-info .text {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
}

.er-step-info .text strong {
    font-weight: 700;
}

.er-step-info .info {
    font-size: 14px;
    font-weight: 600;
}

.er-step-info .divider {
    color: #C3C3C3;
    display: inline;
}

.er-step-invoice ul {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    margin: 20px 0;
    padding: 10px 0;
}

.er-step-invoice ul li {
    width: 32%;
    margin: 10px 0;
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
}

.er-step-invoice ul li img {
    max-height: 15px;
}

@media (max-width: 768px) {
    .er-setting {
        display: block;
    }
    .er-setting .right {
        margin-top: 20px;
        justify-content: flex-end;
    }
    .mini.er-setting {
        margin: 30px 0 !important;
    }
    .mini.er-setting .right {
        margin-top: 10px !important;
    }
}

.er-step-invoice table {
    width: 100%;
}

.er-step-invoice table td:last-child {
    text-align: right;
}

.er-step-invoice table td {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    padding-bottom: 10px;
}

.er-step-invoice table .total td {
    padding-bottom: 0 !important;
    font-size: 18px;
    font-weight: 700;
}

.er-step-invoice table .total td:last-child {
    color: #009849;
}

/* Location */
.em-mobile-divider {
    width: 40px;
    height: 3px;
    background-color: #ccc;
    border-radius: 30px;
    display: block;
    margin: auto;
    position: relative;
    top: -15px;
}

.em-location {
    background-color: #fff;
    padding: 32px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.em-location .title {
    font-size: 14px;
    font-weight: 600 !important;
    color: #01943F;
}

.em-location .title img {
    margin-right: 4px;
}

.em-location .form-control {
    background-color: #FAFAFA !important;
    border-radius: 5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 20px 0;
}

.em-location .form-control::placeholder {
    color: #CCCCCC;
}

.em-location ul li {
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #EFEFEF;
    padding: 15px 0;
}

.em-location ul li:last-child {
    border-bottom: 0;
}

/* Login */
.em-login {
    background-image: url(../img/login-back.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.em-login-alt {
    background: linear-gradient(to bottom, rgba(1, 128, 54, 0.5) 40%, rgba(0, 0, 0, 0), #000);
    height: 100%;
}

.em-login .bottom {
    position: fixed;
    bottom: 60px;
    left: 0;
    color: #fff;
    padding: 20px;
}

.em-login .bottom h2 {
    font-weight: 800;
    text-shadow: 0 3px 14px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.em-login .buttons .btn {
    border-radius: 3px !important;
    font-weight: 800 !important;
    padding: 14px !important;
    font-size: 14px;
}

.em-login .buttons .col-6:first-child {padding-right: 5px}
.em-login .buttons .col-6:last-child {padding-left: 5px}

.em-login .btn.facebook {
    background-color: #38559A;
    border-color: #38559A;
}

.em-login .buttons .btn img {
    position: relative;
    top: -2px;
    margin-right: 6px;
}

.em-login .buttons span {
    font-size: 12px;
    display: block;
    margin: 20px 0;
    text-align: center;
}

.em-login .buttons .btn-outline-light {
    font-size: 12px;
    font-weight: 700 !important;
    border-color: rgba(255,255,255,0.3);
}

.em-login .buttons .btn-light {
    background-color: #fff;
    border-color: #fff;
}

.em-login .img img {
    position: relative;
    top: 160px;
}

.em-login .img {
    text-align: center;
}

/* Home Slider */
.em-hs-item {
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.em-hs-item .alt {
    background: linear-gradient(to bottom, rgba(1, 128, 54, 0.7) 40%, rgba(0, 0, 0, 0), #000);
    padding: 170px 20px 50px 20px;
    color: #fff;
}

.em-hs-item h2 {
    font-weight: 800 !important;
}

.em-home-slider .owl-stage-outer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.em-home-slider .owl-dots {
    text-align: left !important;
    margin-left: 20px;
}

.em-home-slider .owl-dots button {
    position: relative;
    top: -40px;
}

.em-home-slider .owl-dots button span {
    width: 7px !important;
    height: 7px !important;
    margin: 5px 4px !important;
    background: #fff !important;
}

.em-home-slider .owl-dots .owl-dot.active span {
    width: 22px !important;
    background: #26A775 !important;
}

.em-home-slider .owl-nav.disabled+.owl-dots {
    margin-top: 0 !important;
}

/* Home Lists */
.em-home-section {
    padding: 15px 0px;
}

.em-home-section .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 20px 15px;
}

.em-home-section .all {
    font-size: 12px;
    color: #01943F;
    font-weight: 700;
}

.em-home-section .head h3 {
    font-size: 16px;
    font-weight: 800 !important;
    margin-bottom: 0;
}

.em-home-section .list {
    overflow-x: scroll;
    display: inline-flex;
    width: 100%;
}

.list .em-link:first-child {
    margin-left: 12px;
}

.em-home-card {
    background-color: #fff;
    border-radius: 5px;
    width: 214px;
    margin: 0 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.07);
}

.em-home-card .content {
    padding: 10px 16px;
}

.em-home-card .content .title {
    font-size: 13px;
    display: block;
    color: #263626;
}

.em-home-card .content .author {
    font-size: 11px;
    color: #999999;
}

.em-home-card span {
    font-weight: 600;
}

/* Home Search */
.em-home-search {
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}

.em-home-search img {
    margin-bottom: 20px;
}

.em-home-search .input-group-text {
    background-color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.em-home-search .input-group-text span {
    position: relative;
    left: 5px;
}

.em-home-search .form-control {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Car List 1 */
.em-list1.em-page-content {
    top: 0 !important;
}

.em-list1-date .border-right {
    border-color: #707070 !important;
}

.em-list1-date {
    padding: 0 20px;
    background-color: #363636;
}

.em-list1-date .content {
    color: #fff;
    padding: 15px 0;
}

.em-list1-date .content span {
    display: block;
}

.em-list1-date .content .title {
    color: #999999;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
}

.em-list1-date .content .title img {
    position: relative;
    top: -1px;
    margin-right: 4px;
}

.em-list1-date .content .date {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 8px;
}

.em-list1-date .content .location {
    font-size: 12px;
}

.em-list-filter {
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #EFEFEF;
}

.em-list-filter .nav {
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.em-list-filter .nav-item {
    margin-right: 8px;
}

.em-list-filter .nav-link {
    font-size: 11px;
    font-weight: 700;
    color: #363636;
    border: 1px solid #26A775;
    padding: .5rem 0.7rem;
    transition: 0.3s;
}

.em-list-filter .nav-link.active {
    background-color: #26A775 !important;
}

.em-list1-cars {
    padding-bottom: 65px;
}

.em-box-horizontal {
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #EFEFEF;
}

.em-box-horizontal .top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.em-box-horizontal .img-car {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}

.em-box-horizontal .content span {
    display: block;
}

.em-box-horizontal .content .name {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #363636;
}

.em-box-horizontal .content .group {
    font-size: 11px;
    font-weight: 700;
    color: #01943F;
    margin-bottom: 10px;
}

.em-box-horizontal .content ul li {
    width: 47%;
    display: inline-block;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    margin: 5px 0;
}

.em-box-horizontal .content ul li img {
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.em-box-horizontal .bottom {
    background-color: #F0F0F0;
    border-radius: 3px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #363636;
}

.em-box-horizontal .bottom .day {
    font-size: 12px;
    font-weight: 700;
}

.em-box-horizontal .bottom .price {
    font-size: 14px;
}

.em-box-horizontal .bottom .price .past {
    text-decoration: line-through;
}

.em-box-horizontal .bottom .price .now {
    font-weight: 700;
    margin-left: 10px;
}

/* Car List 2 */
.em-list2-cars {
    padding: 24px;
}

.em-car-col {
    padding: 0 5px !important;
}

.em-list2.em-page-content {
    top: 0 !important;
}

.em-list2 {
    padding-bottom: 120px;
}

.em-bottom {
    padding: 16px;
}

.em-bottom .em-list1-date {
    border-radius: 13px;
}

.em-box-vertical {
    padding: 18px 14px;
    background-color: #fff;
    border-radius: 11px;
    margin-bottom: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.07);
}

.em-box-vertical span {
    display: block;
}

.em-box-vertical img {
    width: 100%;
    max-width: 149px;
    display: block;
    margin: auto;
}

.em-box-vertical .name {
    font-size: 12px;
    color: #363636;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 20px;
}

.em-box-vertical .group {
    font-size: 11px;
    color: #999999;
    font-weight: 600;
    margin-bottom: 15px;
}

.em-box-vertical .price .past {
    font-size: 13px;
    text-decoration: line-through;
    color: #363636;
}

.em-box-vertical .price .now {
    font-size: 13px;
    color: #363636;
    font-weight: 700;
}

.em-list-brands {
    padding: 12px 12px 0 12px;
    margin-top: 10px;
}

.em-list-brands .title {
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px;
}

.em-list-brands .list {
    display: inline-flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.em-list-brands .em-link {
    background-color: #fff;
    height: 74px;
    width: 74px !important;
    display: inline-block;
    text-align: center;
    line-height: 74px;
    border-radius: 11px;
    margin-right: 9px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.07);
    border: 1px solid #fff;
}

.em-list-brands .em-link.active {
    border: 1px solid #26A775;
}

.em-list-brands .em-link:first-child {
    margin-left: 0;
}

.em-list-brands .em-link .img {
    width: 74px;
}

/* Car Detail 1 */
.em-detail1 {
    background-color: #fff;
    padding-top: 32px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.em-detail1 .content {
    padding: 0 16px;
}

.em-detail1 .content span {
    display: block;
}

.em-detail1 .content .name {
    font-weight: 600;
}

.em-detail1 .content .group {
    font-size: 12px;
    font-weight: 600;
    color: #01943F;
}

.em-detail1 .content .img {
    margin: 20px 0;
}

.em-detail1 .content .img img {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: auto;
}

.em-detail1 .content .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.em-detail1 .content .badge-free {
    font-size: 11px;
    padding: 8px 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(38, 167, 117, 0.12);
    color: #26A775;
    border-radius: 3px;
}

.em-detail1 .content .badge-free img {
    margin-right: 4px;
}

.em-detail1 .content .flex .stars .fa, .em-detail1 .content .flex .stars .far {
    font-size: 13px;
    color: #FFC107;
}

.em-detail1 .content .flex .right {
    display: flex;
    align-items: center;
}

.em-detail1 .content .flex .right .point {
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}

.em-detail1 .features {
    padding: 16px 24px;
    border-top: 1px solid #EFEFEF;
    margin-top: 24px;
}

.em-detail1 .features ul li {
    width: 32%;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 8px 0;
}

.em-detail1 .features ul li img {
    position: relative;
    top: -1px;
    margin-right: 4px;
}

.em-detail1 .deposit {
    padding: 14px 0;
    border-top: 1px solid #EFEFEF;
    margin: 0 24px;
}

.em-detail1 .deposit span {
    font-size: 14px;
}

.em-detail1 .prices {
    padding: 24px 24px 50px 24px;
    background-color: #F0F0F0;
}

.em-detail1 .prices table {
    width: 100%;
}

.em-detail1 .prices table td {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 10px;
}

.em-detail1 .prices table tr:first-child td:first-child {
    font-weight: 700;
    color: #26A775;
}

.em-detail1 .prices table tr:first-child td:last-child {
    font-weight: 400;
    font-size: 14px !important;
    text-decoration: line-through;
}

.em-detail1 .prices table tr:last-child td:last-child {
    font-size: 18px !important;
}

.em-detail1 .prices table td:last-child {
    text-align: right;
}

.em-detail1 .prices .button {
    width: 100%;
    padding: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.em-detail1 .prices .btn-primary {
    background-color: #FCB400;
    border-color: #FCB400;
}

/* Car Detail 2 */
.em-detail2 {
    top: 0 !important;
}

.em-detail2-card {
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 18px;
}

.em-detail2-card .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.em-detail2-card .header .badge-free {
    position: relative;
    right: -18px;
}

.em-detail2-card .badge-free {
    font-size: 11px;
    padding: 8px 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(38, 167, 117, 0.12);
    color: #26A775;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.em-detail2-card .badge-free img {
    margin-right: 4px;
}

.em-detail2-card .slider {
    margin: 30px 0;
}

.em-detail2-card .slider .owl-dots button span {
    width: 7px !important;
    height: 7px !important;
    margin: 5px 4px !important;
    background: #CCCCCC !important;
}

.em-detail2-card .slider .owl-dots .owl-dot.active span {
    width: 22px !important;
    background: #999999 !important;
}

.em-detail2-card .slider .owl-nav.disabled+.owl-dots {
    margin-top: 20px !important;
}

.em-detail2-card .slider .item img {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: auto;
}

.em-detail2-card .content span {
    display: block;
}

.em-detail2-card .content .name {
    font-size: 16px;
    font-weight: 700;
}

.em-detail2-card .content .group {
    font-size: 12px;
    font-weight: 600;
    color: #999999;
    margin-bottom: 15px;
}

.em-detail2-card .content .daily {
    font-size: 12px;
    color: #26A775;
    font-weight: 700;
}

.em-detail2-card .content .daily .quote {
    display: inline-block;
    color: #363636;
    margin-left: 10px;
    font-weight: 600;
}

.em-detail2-card .features {
    margin: 20px 0;
}

.em-detail2-card .features ul {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.em-detail2-card .features ul li {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}

.em-detail2-card .features .content {
    background-color: #EFEFEF;
    border-radius: 10px;
    height: 82px;
    width: 74px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.em-detail2-card .features .content img {
    display: block;
    margin: auto;
    margin-bottom: 12px;
}

.em-detail2-card .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.em-detail2-card .bottom .price .past {
    font-size: 13px;
    display: block;
    text-decoration: line-through;
}

.em-detail2-card .bottom .price .now {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.btn-gradient {
    background-image: linear-gradient(90deg, #01943f 0%, #26a775 100%);
    color: #fff !important;
    border: 0 !important;
}

.btn-gradient.btn {
    padding: 11px 34px !important;
}

.em-detail2-cars {
    padding: 40px 0;
}

.em-detail2-cars .em-box-vertical {
    width: 145px;
    margin-right: 10px;
}

/* Icons */
.icon-nav-home {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.758 19.5'%3E%3Cg transform='translate(-569.428 -2182.601)'%3E%3Cg transform='translate(570.178 2183.351)'%3E%3Cpath d='M576.857,2197.486h5.233' transform='translate(-570.846 -2184.765)' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath d='M570.178,2193.893c0-5.068.553-4.714,3.527-7.47,1.3-1.05,3.326-3.072,5.075-3.072s3.813,2.011,5.13,3.069c2.975,2.759,3.526,2.4,3.526,7.47,0,7.461-1.767,7.461-8.631,7.461S570.178,2201.352,570.178,2193.893Z' transform='translate(-570.178 -2183.352)' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    width: 17.26px;
    height: 18px;
    display: block;
}

.icon-nav-search {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.382 19.811'%3E%3Cg transform='translate(-281.806 -1001.379)'%3E%3Cg transform='translate(282.556 1002.129)'%3E%3Cellipse cx='8.393' cy='8.378' rx='8.393' ry='8.378' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath d='M297.8,1017.836l3.524,3.515' transform='translate(-283.749 -1003.351)' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    height: 18px;
    width: 17.57px;
    display: block;
}

.icon-nav-notification {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.325 19.72'%3E%3Cg transform='translate(-619.613 -2183.115)'%3E%3Cg transform='translate(620.394 2183.865)'%3E%3Cpath d='M627.775,2183.865a6.261,6.261,0,0,0-6.361,6.2c0,1.843.288,1.3-.81,3.549-1.341,3.2,4.051,4.513,7.171,4.513s8.511-1.31,7.171-4.513c-1.1-2.248-.81-1.706-.81-3.549A6.262,6.262,0,0,0,627.775,2183.865Z' transform='translate(-620.394 -2183.865)' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath id='Stroke_3-165' data-name='Stroke 3-165' d='M630.084,2201.863a2.991,2.991,0,0,1-4.211.409,3.046,3.046,0,0,1-.409-.409' transform='translate(-620.394 -2184.954)' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    height: 18px;
    width: 14.76px;
    display: block;
}

.icon-nav-user {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.19 19.5'%3E%3Cg transform='translate(-860.028 -2279.031)'%3E%3Cg transform='translate(860.778 2279.781)'%3E%3Cpath d='M867.623,2299.013c-3.692,0-6.845-.574-6.845-2.875s3.133-4.425,6.845-4.425c3.692,0,6.845,2.1,6.845,4.4S871.334,2299.013,867.623,2299.013Z' transform='translate(-860.778 -2281.013)' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Cpath d='M867.615,2288.525a4.371,4.371,0,1,0-.031,0Z' transform='translate(-860.778 -2279.781)' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    height: 18px;
    width: 13.90px;
    display: block;
}

/* Owl Carousel */
.owl-carousel .owl-nav button i {
    font-size: 30px;
}

.owl-carousel .owl-nav button:hover {
    background-color: transparent !important;
}

.owl-carousel .owl-prev {
    position: absolute;
    top: 45%;
    left: -70px;
}

.owl-carousel .owl-next {
    position: absolute;
    top: 45%;
    right: -70px;
}

@media (max-width: 768px) {
    .owl-carousel .owl-prev, .owl-carousel .owl-next {
        display: none !important;
    }
}

.btn {
    font-weight: 600 !important;
    padding: 10px 26px !important;
    border-radius: 5px !important;
}

.list-unstyled {
    margin-bottom: 0;
}

img {
    user-select: none !important;
}

.form-control {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #999999;
    border: 0 !important;
    padding: 22px 10px !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.input-group-text {
    border: 0 !important;
}